/* src/components/Arrow.css */
.arrow {
    font-size: 100rem;       
    cursor: pointer;       
    padding: 10px;         
    color: #333;           
    transition: transform 0.2s;
}

.arrow:hover {
    transform: scale(1.2); 
}
