.App {
  display: flex;
}

.main-content {
  flex: 1; 
  padding: 20px;
}

.charts-container {
  display: flex;
  flex-direction: column; 
}



.Profile-Icon {
  width: 40px; 
  height: auto; 
}


.charts {
  flex: 1; 
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: auto;
}
